USE [master]
GO
/****** Object:  Database [DepressyMate]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE DATABASE [DepressyMate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DepressyMate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\DepressyMate.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DepressyMate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\DepressyMate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DepressyMate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DepressyMate]
GO
/****** Object:  Table [dbo].[assessment_results]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assessment_results](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[assessment_code] [nvarchar](50) NOT NULL,
	[raw_scores] [nvarchar](max) NOT NULL,
	[final_scores] [nvarchar](max) NOT NULL,
	[classifications] [nvarchar](max) NOT NULL,
	[overall_severity] [int] NOT NULL,
	[is_red_alert] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_assessment_results] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[breathing_sessions]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[breathing_sessions](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[duration_seconds] [int] NOT NULL,
	[cycles_completed] [int] NOT NULL,
	[total_cycles] [int] NOT NULL,
	[completed] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_breathing_sessions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clinics]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clinics](
	[id] [nvarchar](100) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](500) NULL,
	[department] [nvarchar](255) NULL,
	[working_hours] [nvarchar](255) NULL,
	[services] [nvarchar](max) NULL,
	[price_reference] [nvarchar](255) NULL,
	[url_avatar] [nvarchar](1000) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_clinics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment_likes]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_likes](
	[id] [uniqueidentifier] NOT NULL,
	[comment_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_comment_likes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [uniqueidentifier] NOT NULL,
	[post_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[parent_comment_id] [uniqueidentifier] NULL,
	[like_count] [int] NOT NULL,
	[reply_count] [int] NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[deleted_at] [datetime2](3) NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversation_participants]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversation_participants](
	[conversation_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[joined_at] [datetime2](3) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[last_read_at] [datetime2](3) NULL,
	[left_at] [datetime2](3) NULL,
 CONSTRAINT [PK_conversation_participants] PRIMARY KEY CLUSTERED 
(
	[conversation_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[id] [uniqueidentifier] NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[name] [nvarchar](255) NULL,
	[avatar_url] [nvarchar](1000) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[last_message_at] [datetime2](3) NULL,
 CONSTRAINT [PK_conversations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[id] [nvarchar](100) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[specialty] [nvarchar](255) NULL,
	[degree] [nvarchar](255) NULL,
	[workplace] [nvarchar](500) NULL,
	[experience] [nvarchar](255) NULL,
	[treatment_focus] [nvarchar](max) NULL,
	[price_reference] [nvarchar](255) NULL,
	[url_avatar] [nvarchar](1000) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_doctors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[explore_categories]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[explore_categories](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[slug] [nvarchar](150) NOT NULL,
	[category_type] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
	[display_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[explore_content_sections]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[explore_content_sections](
	[id] [uniqueidentifier] NOT NULL,
	[content_id] [uniqueidentifier] NOT NULL,
	[section_type] [nvarchar](50) NOT NULL,
	[heading] [nvarchar](200) NULL,
	[body] [nvarchar](max) NULL,
	[media_url] [nvarchar](1000) NULL,
	[display_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[explore_content_views]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[explore_content_views](
	[id] [uniqueidentifier] NOT NULL,
	[content_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[viewed_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[explore_contents]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[explore_contents](
	[id] [uniqueidentifier] NOT NULL,
	[category_id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[slug] [nvarchar](220) NOT NULL,
	[subtitle] [nvarchar](300) NULL,
	[summary] [nvarchar](1000) NULL,
	[content_type] [nvarchar](50) NOT NULL,
	[thumbnail_url] [nvarchar](1000) NULL,
	[youtube_url] [nvarchar](1000) NULL,
	[youtube_video_id] [nvarchar](100) NULL,
	[badge_text] [nvarchar](100) NULL,
	[badge_color] [nvarchar](50) NULL,
	[icon_name] [nvarchar](100) NULL,
	[icon_color] [nvarchar](50) NULL,
	[icon_background_color] [nvarchar](50) NULL,
	[content] [nvarchar](max) NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
	[status] [nvarchar](30) NOT NULL,
	[published_at] [datetime2](7) NULL,
	[display_order] [int] NOT NULL,
	[is_featured] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[journals]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[journals](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NULL,
	[content] [nvarchar](max) NULL,
	[audio_url] [nvarchar](1000) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_journals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [uniqueidentifier] NOT NULL,
	[conversation_id] [uniqueidentifier] NOT NULL,
	[sender_id] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[message_type] [nvarchar](20) NOT NULL,
	[media_url] [nvarchar](1000) NULL,
	[edited_at] [datetime2](3) NULL,
	[deleted_at] [datetime2](3) NULL,
 CONSTRAINT [PK_messages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mood_checkins]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mood_checkins](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[mood] [nvarchar](30) NOT NULL,
	[note] [nvarchar](500) NULL,
	[image_url] [nvarchar](1000) NULL,
	[created_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_mood_checkins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_likes]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_likes](
	[id] [uniqueidentifier] NOT NULL,
	[post_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_post_likes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_saves]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_saves](
	[id] [uniqueidentifier] NOT NULL,
	[post_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_post_saves] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NULL,
	[media_url] [nvarchar](1000) NULL,
	[media_type] [nvarchar](20) NULL,
	[like_count] [int] NOT NULL,
	[comment_count] [int] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[deleted_at] [datetime2](3) NULL,
 CONSTRAINT [PK_posts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profiles]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profiles](
	[user_id] [uniqueidentifier] NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[avatar_url] [nvarchar](1000) NULL,
	[bio] [nvarchar](max) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_profiles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sleep_sessions]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sleep_sessions](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[track_id] [nvarchar](100) NULL,
	[track_title] [nvarchar](255) NULL,
	[duration_ms] [int] NOT NULL,
	[listened_ms] [int] NOT NULL,
	[completed] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_sleep_sessions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_push_tokens]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_push_tokens](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[provider] [nvarchar](50) NOT NULL,
	[push_token] [nvarchar](500) NULL,
	[onesignal_player_id] [nvarchar](255) NULL,
	[platform] [nvarchar](50) NULL,
	[device_name] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_user_push_tokens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/15/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](30) NOT NULL,
	[avatar_url] [nvarchar](1000) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[facebook_id] [nvarchar](100) NULL,
	[full_name] [nvarchar](255) NULL,
	[auth_provider] [nvarchar](50) NULL,
	[is_email_verified] [bit] NOT NULL,
	[age] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[breathing_sessions] ([id], [user_id], [duration_seconds], [cycles_completed], [total_cycles], [completed], [created_at]) VALUES (N'197b45b7-4956-463e-8141-03b02d0494e4', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', 300, 10, 10, 1, CAST(N'2026-04-29T11:22:41.0350000' AS DateTime2))
INSERT [dbo].[breathing_sessions] ([id], [user_id], [duration_seconds], [cycles_completed], [total_cycles], [completed], [created_at]) VALUES (N'27555a74-562c-49f6-a84b-07a6efab99ed', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', 300, 10, 10, 1, CAST(N'2026-05-06T11:22:41.0350000' AS DateTime2))
INSERT [dbo].[breathing_sessions] ([id], [user_id], [duration_seconds], [cycles_completed], [total_cycles], [completed], [created_at]) VALUES (N'af04af41-03cf-44b6-af87-1065cee7230e', N'6f37d3ec-f089-48b3-8dba-03f42e33a508', 210, 7, 7, 1, CAST(N'2026-05-02T11:13:23.9730000' AS DateTime2))
GO
INSERT [dbo].[comment_likes] ([id], [comment_id], [user_id], [created_at]) VALUES (N'077d0415-0c8e-47ad-bb52-7c7f26b7ef36', N'1dba40a6-f692-4ffa-9e90-6b58987bfa96', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-10T07:00:06.3750000' AS DateTime2))
GO
INSERT [dbo].[comments] ([id], [post_id], [user_id], [content], [created_at], [parent_comment_id], [like_count], [reply_count], [updated_at], [deleted_at]) VALUES (N'd5a75635-0b82-422f-8ed9-03c2a8eee474', N'56907793-a1ca-45db-89c4-c61a98d7e3d2', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'Hay quá', CAST(N'2026-05-11T00:23:51.9240000' AS DateTime2), NULL, 0, 0, CAST(N'2026-05-11T00:23:51.9240000' AS DateTime2), NULL)
INSERT [dbo].[comments] ([id], [post_id], [user_id], [content], [created_at], [parent_comment_id], [like_count], [reply_count], [updated_at], [deleted_at]) VALUES (N'1dba40a6-f692-4ffa-9e90-6b58987bfa96', N'62318e3a-cc9f-4b89-9b2b-2a4100d8f619', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'Xin chào mn💫💫💫💫', CAST(N'2026-05-10T07:00:03.4180000' AS DateTime2), NULL, 1, 2, CAST(N'2026-05-10T07:00:03.4180000' AS DateTime2), NULL)
INSERT [dbo].[comments] ([id], [post_id], [user_id], [content], [created_at], [parent_comment_id], [like_count], [reply_count], [updated_at], [deleted_at]) VALUES (N'403cb060-82c4-42fb-b65c-9885b6c82350', N'62318e3a-cc9f-4b89-9b2b-2a4100d8f619', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'Tôi là dungdev', CAST(N'2026-05-10T07:00:20.6990000' AS DateTime2), N'1dba40a6-f692-4ffa-9e90-6b58987bfa96', 0, 0, CAST(N'2026-05-10T07:00:20.6990000' AS DateTime2), NULL)
GO
INSERT [dbo].[conversation_participants] ([conversation_id], [user_id], [joined_at], [role], [last_read_at], [left_at]) VALUES (N'cae17bfc-05be-4874-a260-3bf605c82806', N'33d397d3-d548-402f-8dad-1b1fe7e855f2', CAST(N'2026-05-10T05:21:02.0920000' AS DateTime2), N'MEMBER', CAST(N'2026-05-10T05:35:08.1450000' AS DateTime2), NULL)
INSERT [dbo].[conversation_participants] ([conversation_id], [user_id], [joined_at], [role], [last_read_at], [left_at]) VALUES (N'cae17bfc-05be-4874-a260-3bf605c82806', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-10T05:21:02.0920000' AS DateTime2), N'MEMBER', CAST(N'2026-05-11T01:17:16.7320000' AS DateTime2), NULL)
INSERT [dbo].[conversation_participants] ([conversation_id], [user_id], [joined_at], [role], [last_read_at], [left_at]) VALUES (N'cd78a9b6-1526-4340-8e76-71b56bc00687', N'6f37d3ec-f089-48b3-8dba-03f42e33a508', CAST(N'2026-05-10T23:12:09.4320000' AS DateTime2), N'MEMBER', NULL, NULL)
GO
INSERT [dbo].[conversations] ([id], [type], [created_at], [name], [avatar_url], [created_by], [updated_at], [last_message_at]) VALUES (N'cae17bfc-05be-4874-a260-3bf605c82806', N'DIRECT', CAST(N'2026-05-10T05:21:02.0920000' AS DateTime2), NULL, NULL, N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-10T05:35:04.3770000' AS DateTime2), CAST(N'2026-05-10T05:35:04.3770000' AS DateTime2))
INSERT [dbo].[conversations] ([id], [type], [created_at], [name], [avatar_url], [created_by], [updated_at], [last_message_at]) VALUES (N'cd78a9b6-1526-4340-8e76-71b56bc00687', N'DIRECT', CAST(N'2026-05-10T23:12:09.4320000' AS DateTime2), NULL, NULL, N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-10T23:23:06.5170000' AS DateTime2), CAST(N'2026-05-10T23:23:06.5170000' AS DateTime2))
INSERT [dbo].[conversations] ([id], [type], [created_at], [name], [avatar_url], [created_by], [updated_at], [last_message_at]) VALUES (N'fcdc1983-b8d7-4c20-bc6e-cae0120dfd39', N'GROUP', CAST(N'2026-05-10T05:36:34.6970000' AS DateTime2), N'Nhóm devjj', NULL, N'33d397d3-d548-402f-8dad-1b1fe7e855f2', CAST(N'2026-05-10T21:01:14.1190000' AS DateTime2), CAST(N'2026-05-10T21:01:14.1190000' AS DateTime2))
GO
INSERT [dbo].[doctors] ([id], [name], [specialty], [degree], [workplace], [experience], [treatment_focus], [price_reference], [url_avatar], [created_at], [updated_at]) VALUES (N'3DE58912-2137-478E-9442-E3038B19AF1D', N'Nguyễn Thùy Linh', N'Tâm lý - Tâm thần', N'Thạc sĩ, Bác sĩ', N'Trung tâm Chăm sóc Sức khỏe Tinh thần - Vinmec', N'Được đào tạo chuyên sâu về sức khỏe tinh thần và trị liệu tâm lý', N'["Tham vấn tâm lý", "Trị liệu tâm lý", "Trầm cảm", "Lo âu", "Stress"]', N'Liên hệ', NULL, CAST(N'2026-05-10T03:49:52.0700000' AS DateTime2), CAST(N'2026-05-10T03:49:52.0700000' AS DateTime2))
GO
INSERT [dbo].[explore_categories] ([id], [name], [slug], [category_type], [description], [display_order], [is_active], [created_at], [updated_at]) VALUES (N'8ee76833-ed76-4551-b7e9-6352ec64f21e', N'Workshops & Classes', N'workshops-classes', N'WORKSHOP', NULL, 1, 1, CAST(N'2026-05-14T12:29:29.8387410' AS DateTime2), NULL)
INSERT [dbo].[explore_categories] ([id], [name], [slug], [category_type], [description], [display_order], [is_active], [created_at], [updated_at]) VALUES (N'e6e3ddd9-087e-4b08-b2f9-9af46a6bd796', N'Healing Media', N'healing-media', N'MEDIA', NULL, 2, 1, CAST(N'2026-05-14T12:29:29.8387410' AS DateTime2), NULL)
INSERT [dbo].[explore_categories] ([id], [name], [slug], [category_type], [description], [display_order], [is_active], [created_at], [updated_at]) VALUES (N'7d1f584e-286e-4402-a2d9-b11900632137', N'Skill Building', N'skill-building', N'SKILL', NULL, 3, 1, CAST(N'2026-05-14T12:29:29.8387410' AS DateTime2), NULL)
GO
INSERT [dbo].[explore_content_views] ([id], [content_id], [user_id], [viewed_at]) VALUES (N'39235f64-2da9-482b-89f4-02754c15fed1', N'48121abf-1af5-4e69-8baa-f45250cdab35', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-14T13:47:12.7810000' AS DateTime2))
INSERT [dbo].[explore_content_views] ([id], [content_id], [user_id], [viewed_at]) VALUES (N'8a0021ef-d604-459d-949d-0b8270a07ece', N'48121abf-1af5-4e69-8baa-f45250cdab35', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-14T13:41:14.5830000' AS DateTime2))
INSERT [dbo].[explore_content_views] ([id], [content_id], [user_id], [viewed_at]) VALUES (N'7a22e49e-b08c-4a2f-9568-0fada37f9699', N'b1c61bb1-b4a8-49d6-8965-375c22d8e325', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-14T13:41:17.9990000' AS DateTime2))
GO
INSERT [dbo].[journals] ([id], [user_id], [title], [content], [audio_url], [created_at], [updated_at]) VALUES (N'1852b21a-74f1-4ea2-ab1e-54ff93a10774', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'Trời đẹp', N'💯', NULL, CAST(N'2026-05-10T23:07:32.9420000' AS DateTime2), CAST(N'2026-05-10T23:07:32.9420000' AS DateTime2))
GO
INSERT [dbo].[messages] ([id], [conversation_id], [sender_id], [content], [is_read], [created_at], [message_type], [media_url], [edited_at], [deleted_at]) VALUES (N'717efc66-f0c3-45d9-8647-1ddd1bde4c69', N'cd78a9b6-1526-4340-8e76-71b56bc00687', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'Xin chà0', 0, CAST(N'2026-05-10T23:23:06.5170000' AS DateTime2), N'TEXT', NULL, NULL, NULL)
INSERT [dbo].[messages] ([id], [conversation_id], [sender_id], [content], [is_read], [created_at], [message_type], [media_url], [edited_at], [deleted_at]) VALUES (N'825fb9ef-eac4-49e1-aa42-26ff19a789dc', N'cae17bfc-05be-4874-a260-3bf605c82806', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'Helo', 0, CAST(N'2026-05-10T05:21:10.8520000' AS DateTime2), N'TEXT', NULL, NULL, NULL)
INSERT [dbo].[messages] ([id], [conversation_id], [sender_id], [content], [is_read], [created_at], [message_type], [media_url], [edited_at], [deleted_at]) VALUES (N'68856123-2b4e-425b-aed7-36e0bc378a51', N'cae17bfc-05be-4874-a260-3bf605c82806', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'Ầm', 0, CAST(N'2026-05-10T05:34:31.8950000' AS DateTime2), N'TEXT', NULL, NULL, NULL)
GO
INSERT [dbo].[mood_checkins] ([id], [user_id], [mood], [note], [image_url], [created_at]) VALUES (N'3d18a0ad-08d2-4d4f-ac40-868f2aadaf39', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'good', NULL, NULL, CAST(N'2026-05-10T09:01:22.8990000' AS DateTime2))
GO
INSERT [dbo].[post_likes] ([id], [post_id], [user_id], [created_at]) VALUES (N'9a46dc48-4a0d-4058-890a-5fd54d662d66', N'62318e3a-cc9f-4b89-9b2b-2a4100d8f619', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-10T06:59:10.7870000' AS DateTime2))
INSERT [dbo].[post_likes] ([id], [post_id], [user_id], [created_at]) VALUES (N'809cb93b-edb5-41c4-93b3-78310ae8c070', N'6452ed33-11d6-42d9-b287-67f38e9eb471', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-10T22:58:25.0960000' AS DateTime2))
INSERT [dbo].[post_likes] ([id], [post_id], [user_id], [created_at]) VALUES (N'2b941b65-a8d3-4dff-acf8-ac1c25b5c7a8', N'56907793-a1ca-45db-89c4-c61a98d7e3d2', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-10T07:03:18.3740000' AS DateTime2))
GO
INSERT [dbo].[post_saves] ([id], [post_id], [user_id], [created_at]) VALUES (N'10c4bb5c-2333-48a3-9b1f-a1ade9139dfe', N'62318e3a-cc9f-4b89-9b2b-2a4100d8f619', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', CAST(N'2026-05-10T07:00:39.3830000' AS DateTime2))
GO
INSERT [dbo].[posts] ([id], [user_id], [content], [media_url], [media_type], [like_count], [comment_count], [created_at], [updated_at], [deleted_at]) VALUES (N'62318e3a-cc9f-4b89-9b2b-2a4100d8f619', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'Hôm nay trời đẹp🥸🥸🥸', NULL, N'IMAGE', 1, 3, CAST(N'2026-05-10T06:59:03.8860000' AS DateTime2), CAST(N'2026-05-10T07:00:26.6870000' AS DateTime2), NULL)
INSERT [dbo].[posts] ([id], [user_id], [content], [media_url], [media_type], [like_count], [comment_count], [created_at], [updated_at], [deleted_at]) VALUES (N'6452ed33-11d6-42d9-b287-67f38e9eb471', N'3fd58188-ae92-476b-ab04-c2413da7fd9e', N'Xin chào mn', N'http://192.168.1.103:5210/uploads/posts/01534b369bb74b6b8d2336847827de2c.jpeg', N'IMAGE', 1, 0, CAST(N'2026-05-10T20:59:59.1160000' AS DateTime2), CAST(N'2026-05-10T20:59:59.1160000' AS DateTime2), NULL)
INSERT [dbo].[posts] ([id], [user_id], [content], [media_url], [media_type], [like_count], [comment_count], [created_at], [updated_at], [deleted_at]) VALUES (N'56907793-a1ca-45db-89c4-c61a98d7e3d2', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'HỆ THỐNG MỚI🐠🐠🐠', N'http://192.168.1.103:5210/uploads/posts/140a8f10446d4614a8062ddffd5c0797.mp4', N'VIDEO', 1, 1, CAST(N'2026-05-10T07:02:43.3980000' AS DateTime2), CAST(N'2026-05-11T00:23:51.9240000' AS DateTime2), NULL)
GO
INSERT [dbo].[profiles] ([user_id], [full_name], [avatar_url], [bio], [created_at], [updated_at]) VALUES (N'6f37d3ec-f089-48b3-8dba-03f42e33a508', N'Đức Dũng', N'https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=1698776334631204&height=50&width=50&ext=1780905220&hash=AfuJJ1rje_EukoBo8dAoigaR', NULL, CAST(N'2026-05-09T04:20:16.8440000' AS DateTime2), CAST(N'2026-05-09T07:53:42.0340000' AS DateTime2))
INSERT [dbo].[profiles] ([user_id], [full_name], [avatar_url], [bio], [created_at], [updated_at]) VALUES (N'33d397d3-d548-402f-8dad-1b1fe7e855f2', N'Nam', NULL, NULL, CAST(N'2026-05-09T05:35:37.5990000' AS DateTime2), CAST(N'2026-05-09T05:35:37.5990000' AS DateTime2))
INSERT [dbo].[profiles] ([user_id], [full_name], [avatar_url], [bio], [created_at], [updated_at]) VALUES (N'a8434ec5-b48d-481d-9ed7-32830273d2d9', N'Châu Minh', N'https://lh3.googleusercontent.com/a/ACg8ocJU1IRMpi6kGAmyAGkcZMrckYa38kjlrQ6_HOzb3067XoXIBA=s96-c', NULL, CAST(N'2026-05-11T01:27:58.5100000' AS DateTime2), CAST(N'2026-05-11T01:27:58.5100000' AS DateTime2))
GO
INSERT [dbo].[sleep_sessions] ([id], [user_id], [track_id], [track_title], [duration_ms], [listened_ms], [completed], [created_at]) VALUES (N'693c99ce-5a10-42b9-9f80-006945f0cf27', N'6f37d3ec-f089-48b3-8dba-03f42e33a508', N'sleep-meditation-02', N'Thư giãn tâm trí', 2700000, 2700000, 1, CAST(N'2026-05-10T11:13:32.7610000' AS DateTime2))
INSERT [dbo].[sleep_sessions] ([id], [user_id], [track_id], [track_title], [duration_ms], [listened_ms], [completed], [created_at]) VALUES (N'b5ee60cc-1220-495b-af66-013da555e90d', N'6f37d3ec-f089-48b3-8dba-03f42e33a508', N'sleep-piano-01', N'Piano ngủ sâu', 3600000, 3600000, 1, CAST(N'2026-04-28T11:13:32.7610000' AS DateTime2))
INSERT [dbo].[sleep_sessions] ([id], [user_id], [track_id], [track_title], [duration_ms], [listened_ms], [completed], [created_at]) VALUES (N'9c8b5cd3-ac56-48bc-8ac5-09023d407bda', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'sleep-white-noise-01', N'Tiếng ồn trắng', 3600000, 3600000, 1, CAST(N'2026-05-01T11:22:49.5040000' AS DateTime2))
GO
INSERT [dbo].[user_push_tokens] ([id], [user_id], [provider], [push_token], [onesignal_player_id], [platform], [device_name], [is_active], [created_at], [updated_at]) VALUES (N'73bde9fc-8c79-44f1-a256-f4c87ae31295', N'34f079c8-2a75-4a79-b6a8-62f87b7b0fb1', N'firebase', N'fjlB1eTJSnCWJylzloUJ32:APA91bH7pFMUTYAveQbMCYmYF1eC98A9jNCv-tBXAGIsANx_7GVnUWm1qWIEf-SeSmJvmWRRFQUbLa9sZeygeJgE81t_FPj2-jQsJsAAY6OkmDGBOrSUfMc', NULL, N'android', NULL, 1, CAST(N'2026-05-10T22:01:59.7330000' AS DateTime2), CAST(N'2026-05-15T06:56:56.0220000' AS DateTime2))
GO
INSERT [dbo].[users] ([id], [email], [password_hash], [role], [avatar_url], [created_at], [updated_at], [facebook_id], [full_name], [auth_provider], [is_email_verified], [age]) VALUES (N'33d397d3-d548-402f-8dad-1b1fe7e855f2', N'dungdev561@gmail.com', N'$2a$11$adyAbDNznkLRS1bQEl1uheX8nxW/tWv7/GvkMOB9UhahQi0gs8gfG', N'USER', NULL, CAST(N'2026-05-09T05:35:37.5990000' AS DateTime2), CAST(N'2026-05-09T05:35:37.5990000' AS DateTime2), NULL, N'Nam', N'local', 1, NULL)
INSERT [dbo].[users] ([id], [email], [password_hash], [role], [avatar_url], [created_at], [updated_at], [facebook_id], [full_name], [auth_provider], [is_email_verified], [age]) VALUES (N'a8434ec5-b48d-481d-9ed7-32830273d2d9', N'mchau8109@gmail.com', N'$2a$11$Q0cd2QR7i7AsTyiZ.VKAfuDwpOUDF1lu.HkNAYkwu0N02XCI1bZXC', N'USER', N'https://lh3.googleusercontent.com/a/ACg8ocJU1IRMpi6kGAmyAGkcZMrckYa38kjlrQ6_HOzb3067XoXIBA=s96-c', CAST(N'2026-05-11T01:27:58.5100000' AS DateTime2), CAST(N'2026-05-11T01:27:58.5100000' AS DateTime2), NULL, N'Châu Minh', N'google', 1, NULL)
GO
/****** Object:  Index [IX_assessment_results_user_created]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_assessment_results_user_created] ON [dbo].[assessment_results]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_breathing_sessions_user_created]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_breathing_sessions_user_created] ON [dbo].[breathing_sessions]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_comment_likes_comment_user]    Script Date: 5/15/2026 2:35:50 PM ******/
ALTER TABLE [dbo].[comment_likes] ADD  CONSTRAINT [UQ_comment_likes_comment_user] UNIQUE NONCLUSTERED 
(
	[comment_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_comments_post_parent_created]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_comments_post_parent_created] ON [dbo].[comments]
(
	[post_id] ASC,
	[parent_comment_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_conversation_participants_user]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_conversation_participants_user] ON [dbo].[conversation_participants]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_conversations_updated]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_conversations_updated] ON [dbo].[conversations]
(
	[updated_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__explore___32DD1E4C2970A32F]    Script Date: 5/15/2026 2:35:50 PM ******/
ALTER TABLE [dbo].[explore_categories] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__explore___32DD1E4C5D12BDE5]    Script Date: 5/15/2026 2:35:50 PM ******/
ALTER TABLE [dbo].[explore_contents] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_journals_user_created]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_journals_user_created] ON [dbo].[journals]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_messages_conversation_created]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_messages_conversation_created] ON [dbo].[messages]
(
	[conversation_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_messages_unread]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_messages_unread] ON [dbo].[messages]
(
	[conversation_id] ASC,
	[sender_id] ASC,
	[is_read] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_mood_checkins_user_created]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_mood_checkins_user_created] ON [dbo].[mood_checkins]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_post_likes_post_user]    Script Date: 5/15/2026 2:35:50 PM ******/
ALTER TABLE [dbo].[post_likes] ADD  CONSTRAINT [UQ_post_likes_post_user] UNIQUE NONCLUSTERED 
(
	[post_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_post_saves_post_user]    Script Date: 5/15/2026 2:35:50 PM ******/
ALTER TABLE [dbo].[post_saves] ADD  CONSTRAINT [UQ_post_saves_post_user] UNIQUE NONCLUSTERED 
(
	[post_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_post_saves_user_created]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_post_saves_user_created] ON [dbo].[post_saves]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_posts_created_active]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_posts_created_active] ON [dbo].[posts]
(
	[created_at] DESC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_posts_user_created]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_posts_user_created] ON [dbo].[posts]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_sleep_sessions_user_created]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_sleep_sessions_user_created] ON [dbo].[sleep_sessions]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_user_push_tokens_provider_token]    Script Date: 5/15/2026 2:35:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_user_push_tokens_provider_token] ON [dbo].[user_push_tokens]
(
	[provider] ASC,
	[push_token] ASC
)
WHERE ([push_token] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_email]    Script Date: 5/15/2026 2:35:50 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[assessment_results] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[assessment_results] ADD  CONSTRAINT [DF_assessment_results_is_red_alert]  DEFAULT ((0)) FOR [is_red_alert]
GO
ALTER TABLE [dbo].[assessment_results] ADD  CONSTRAINT [DF_assessment_results_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[breathing_sessions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[breathing_sessions] ADD  CONSTRAINT [DF_breathing_sessions_duration]  DEFAULT ((0)) FOR [duration_seconds]
GO
ALTER TABLE [dbo].[breathing_sessions] ADD  CONSTRAINT [DF_breathing_sessions_cycles]  DEFAULT ((0)) FOR [cycles_completed]
GO
ALTER TABLE [dbo].[breathing_sessions] ADD  CONSTRAINT [DF_breathing_sessions_total_cycles]  DEFAULT ((0)) FOR [total_cycles]
GO
ALTER TABLE [dbo].[breathing_sessions] ADD  CONSTRAINT [DF_breathing_sessions_completed]  DEFAULT ((0)) FOR [completed]
GO
ALTER TABLE [dbo].[breathing_sessions] ADD  CONSTRAINT [DF_breathing_sessions_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[clinics] ADD  CONSTRAINT [DF_clinics_id]  DEFAULT (CONVERT([nvarchar](100),newid())) FOR [id]
GO
ALTER TABLE [dbo].[clinics] ADD  CONSTRAINT [DF_clinics_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[clinics] ADD  CONSTRAINT [DF_clinics_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[comment_likes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[comment_likes] ADD  CONSTRAINT [DF_comment_likes_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[comments] ADD  CONSTRAINT [DF_comments_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[comments] ADD  CONSTRAINT [DF_comments_like_count]  DEFAULT ((0)) FOR [like_count]
GO
ALTER TABLE [dbo].[comments] ADD  CONSTRAINT [DF_comments_reply_count]  DEFAULT ((0)) FOR [reply_count]
GO
ALTER TABLE [dbo].[comments] ADD  CONSTRAINT [DF_comments_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[conversation_participants] ADD  CONSTRAINT [DF_conversation_participants_joined_at]  DEFAULT (sysutcdatetime()) FOR [joined_at]
GO
ALTER TABLE [dbo].[conversation_participants] ADD  CONSTRAINT [DF_conversation_participants_role]  DEFAULT ('MEMBER') FOR [role]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[conversations] ADD  CONSTRAINT [DF_conversations_type]  DEFAULT ('DIRECT') FOR [type]
GO
ALTER TABLE [dbo].[conversations] ADD  CONSTRAINT [DF_conversations_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[conversations] ADD  CONSTRAINT [DF_conversations_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[doctors] ADD  CONSTRAINT [DF_doctors_id]  DEFAULT (CONVERT([nvarchar](100),newid())) FOR [id]
GO
ALTER TABLE [dbo].[doctors] ADD  CONSTRAINT [DF_doctors_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctors] ADD  CONSTRAINT [DF_doctors_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[explore_categories] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[explore_categories] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[explore_categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[explore_categories] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[explore_content_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[explore_content_sections] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[explore_content_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[explore_content_sections] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[explore_content_views] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[explore_content_views] ADD  DEFAULT (sysutcdatetime()) FOR [viewed_at]
GO
ALTER TABLE [dbo].[explore_contents] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[explore_contents] ADD  DEFAULT ('DRAFT') FOR [status]
GO
ALTER TABLE [dbo].[explore_contents] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[explore_contents] ADD  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [dbo].[explore_contents] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[explore_contents] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[journals] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[journals] ADD  CONSTRAINT [DF_journals_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[journals] ADD  CONSTRAINT [DF_journals_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[messages] ADD  CONSTRAINT [DF_messages_is_read]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[messages] ADD  CONSTRAINT [DF_messages_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  CONSTRAINT [DF_messages_message_type]  DEFAULT ('TEXT') FOR [message_type]
GO
ALTER TABLE [dbo].[mood_checkins] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[mood_checkins] ADD  CONSTRAINT [DF_mood_checkins_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[post_likes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[post_likes] ADD  CONSTRAINT [DF_post_likes_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[post_saves] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[post_saves] ADD  CONSTRAINT [DF_post_saves_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [DF_posts_media_type]  DEFAULT ('IMAGE') FOR [media_type]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [DF_posts_like_count]  DEFAULT ((0)) FOR [like_count]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [DF_posts_comment_count]  DEFAULT ((0)) FOR [comment_count]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [DF_posts_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [DF_posts_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[profiles] ADD  CONSTRAINT [DF_profiles_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[profiles] ADD  CONSTRAINT [DF_profiles_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sleep_sessions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[sleep_sessions] ADD  CONSTRAINT [DF_sleep_sessions_duration]  DEFAULT ((0)) FOR [duration_ms]
GO
ALTER TABLE [dbo].[sleep_sessions] ADD  CONSTRAINT [DF_sleep_sessions_listened]  DEFAULT ((0)) FOR [listened_ms]
GO
ALTER TABLE [dbo].[sleep_sessions] ADD  CONSTRAINT [DF_sleep_sessions_completed]  DEFAULT ((0)) FOR [completed]
GO
ALTER TABLE [dbo].[sleep_sessions] ADD  CONSTRAINT [DF_sleep_sessions_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_push_tokens] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_push_tokens] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[user_push_tokens] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_push_tokens] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_role]  DEFAULT ('USER') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_email_verified]
GO
ALTER TABLE [dbo].[assessment_results]  WITH CHECK ADD  CONSTRAINT [FK_assessment_results_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[assessment_results] CHECK CONSTRAINT [FK_assessment_results_users]
GO
ALTER TABLE [dbo].[breathing_sessions]  WITH CHECK ADD  CONSTRAINT [FK_breathing_sessions_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[breathing_sessions] CHECK CONSTRAINT [FK_breathing_sessions_users]
GO
ALTER TABLE [dbo].[comment_likes]  WITH CHECK ADD  CONSTRAINT [FK_comment_likes_comments] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comments] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment_likes] CHECK CONSTRAINT [FK_comment_likes_comments]
GO
ALTER TABLE [dbo].[comment_likes]  WITH CHECK ADD  CONSTRAINT [FK_comment_likes_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[comment_likes] CHECK CONSTRAINT [FK_comment_likes_users]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_parent] FOREIGN KEY([parent_comment_id])
REFERENCES [dbo].[comments] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_parent]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_posts]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_users]
GO
ALTER TABLE [dbo].[conversation_participants]  WITH CHECK ADD  CONSTRAINT [FK_conversation_participants_conversations] FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[conversation_participants] CHECK CONSTRAINT [FK_conversation_participants_conversations]
GO
ALTER TABLE [dbo].[conversation_participants]  WITH CHECK ADD  CONSTRAINT [FK_conversation_participants_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[conversation_participants] CHECK CONSTRAINT [FK_conversation_participants_users]
GO
ALTER TABLE [dbo].[explore_content_sections]  WITH CHECK ADD  CONSTRAINT [fk_explore_content_sections_content] FOREIGN KEY([content_id])
REFERENCES [dbo].[explore_contents] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[explore_content_sections] CHECK CONSTRAINT [fk_explore_content_sections_content]
GO
ALTER TABLE [dbo].[explore_content_views]  WITH CHECK ADD  CONSTRAINT [fk_explore_content_views_content] FOREIGN KEY([content_id])
REFERENCES [dbo].[explore_contents] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[explore_content_views] CHECK CONSTRAINT [fk_explore_content_views_content]
GO
ALTER TABLE [dbo].[explore_content_views]  WITH CHECK ADD  CONSTRAINT [fk_explore_content_views_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[explore_content_views] CHECK CONSTRAINT [fk_explore_content_views_user]
GO
ALTER TABLE [dbo].[explore_contents]  WITH CHECK ADD  CONSTRAINT [fk_explore_contents_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[explore_categories] ([id])
GO
ALTER TABLE [dbo].[explore_contents] CHECK CONSTRAINT [fk_explore_contents_category]
GO
ALTER TABLE [dbo].[explore_contents]  WITH CHECK ADD  CONSTRAINT [fk_explore_contents_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[explore_contents] CHECK CONSTRAINT [fk_explore_contents_created_by]
GO
ALTER TABLE [dbo].[explore_contents]  WITH CHECK ADD  CONSTRAINT [fk_explore_contents_updated_by] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[explore_contents] CHECK CONSTRAINT [fk_explore_contents_updated_by]
GO
ALTER TABLE [dbo].[journals]  WITH CHECK ADD  CONSTRAINT [FK_journals_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[journals] CHECK CONSTRAINT [FK_journals_users]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_conversations] FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_conversations]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_users] FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_users]
GO
ALTER TABLE [dbo].[mood_checkins]  WITH CHECK ADD  CONSTRAINT [FK_mood_checkins_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mood_checkins] CHECK CONSTRAINT [FK_mood_checkins_users]
GO
ALTER TABLE [dbo].[post_likes]  WITH CHECK ADD  CONSTRAINT [FK_post_likes_posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_likes] CHECK CONSTRAINT [FK_post_likes_posts]
GO
ALTER TABLE [dbo].[post_likes]  WITH CHECK ADD  CONSTRAINT [FK_post_likes_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[post_likes] CHECK CONSTRAINT [FK_post_likes_users]
GO
ALTER TABLE [dbo].[post_saves]  WITH CHECK ADD  CONSTRAINT [FK_post_saves_posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_saves] CHECK CONSTRAINT [FK_post_saves_posts]
GO
ALTER TABLE [dbo].[post_saves]  WITH CHECK ADD  CONSTRAINT [FK_post_saves_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[post_saves] CHECK CONSTRAINT [FK_post_saves_users]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FK_posts_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FK_posts_users]
GO
ALTER TABLE [dbo].[profiles]  WITH CHECK ADD  CONSTRAINT [FK_profiles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[profiles] CHECK CONSTRAINT [FK_profiles_users]
GO
ALTER TABLE [dbo].[sleep_sessions]  WITH CHECK ADD  CONSTRAINT [FK_sleep_sessions_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sleep_sessions] CHECK CONSTRAINT [FK_sleep_sessions_users]
GO
ALTER TABLE [dbo].[user_push_tokens]  WITH CHECK ADD  CONSTRAINT [FK_user_push_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_push_tokens] CHECK CONSTRAINT [FK_user_push_tokens_users]
GO
ALTER TABLE [dbo].[assessment_results]  WITH CHECK ADD  CONSTRAINT [CK_assessment_results_classifications_json] CHECK  ((isjson([classifications])=(1)))
GO
ALTER TABLE [dbo].[assessment_results] CHECK CONSTRAINT [CK_assessment_results_classifications_json]
GO
ALTER TABLE [dbo].[assessment_results]  WITH CHECK ADD  CONSTRAINT [CK_assessment_results_final_scores_json] CHECK  ((isjson([final_scores])=(1)))
GO
ALTER TABLE [dbo].[assessment_results] CHECK CONSTRAINT [CK_assessment_results_final_scores_json]
GO
ALTER TABLE [dbo].[assessment_results]  WITH CHECK ADD  CONSTRAINT [CK_assessment_results_raw_scores_json] CHECK  ((isjson([raw_scores])=(1)))
GO
ALTER TABLE [dbo].[assessment_results] CHECK CONSTRAINT [CK_assessment_results_raw_scores_json]
GO
ALTER TABLE [dbo].[breathing_sessions]  WITH CHECK ADD  CONSTRAINT [CK_breathing_sessions_cycles] CHECK  (([cycles_completed]>=(0) AND [total_cycles]>=(0)))
GO
ALTER TABLE [dbo].[breathing_sessions] CHECK CONSTRAINT [CK_breathing_sessions_cycles]
GO
ALTER TABLE [dbo].[breathing_sessions]  WITH CHECK ADD  CONSTRAINT [CK_breathing_sessions_duration] CHECK  (([duration_seconds]>=(0)))
GO
ALTER TABLE [dbo].[breathing_sessions] CHECK CONSTRAINT [CK_breathing_sessions_duration]
GO
ALTER TABLE [dbo].[clinics]  WITH CHECK ADD  CONSTRAINT [CK_clinics_services_json] CHECK  (([services] IS NULL OR isjson([services])=(1)))
GO
ALTER TABLE [dbo].[clinics] CHECK CONSTRAINT [CK_clinics_services_json]
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD  CONSTRAINT [CK_conversations_type] CHECK  (([type]='GROUP' OR [type]='DIRECT'))
GO
ALTER TABLE [dbo].[conversations] CHECK CONSTRAINT [CK_conversations_type]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [CK_doctors_treatment_focus_json] CHECK  (([treatment_focus] IS NULL OR isjson([treatment_focus])=(1)))
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [CK_doctors_treatment_focus_json]
GO
ALTER TABLE [dbo].[journals]  WITH CHECK ADD  CONSTRAINT [CK_journals_content_or_audio] CHECK  (([content] IS NOT NULL OR [audio_url] IS NOT NULL))
GO
ALTER TABLE [dbo].[journals] CHECK CONSTRAINT [CK_journals_content_or_audio]
GO
ALTER TABLE [dbo].[mood_checkins]  WITH CHECK ADD  CONSTRAINT [CK_mood_checkins_mood] CHECK  (([mood]='terrible' OR [mood]='sad' OR [mood]='okay' OR [mood]='good' OR [mood]='excellent'))
GO
ALTER TABLE [dbo].[mood_checkins] CHECK CONSTRAINT [CK_mood_checkins_mood]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [CK_posts_comment_count] CHECK  (([comment_count]>=(0)))
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [CK_posts_comment_count]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [CK_posts_content_or_media] CHECK  (([content] IS NOT NULL OR [media_url] IS NOT NULL))
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [CK_posts_content_or_media]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [CK_posts_like_count] CHECK  (([like_count]>=(0)))
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [CK_posts_like_count]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [CK_posts_media_type] CHECK  (([media_type] IS NULL OR ([media_type]='VIDEO' OR [media_type]='IMAGE')))
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [CK_posts_media_type]
GO
ALTER TABLE [dbo].[sleep_sessions]  WITH CHECK ADD  CONSTRAINT [CK_sleep_sessions_duration] CHECK  (([duration_ms]>=(0) AND [listened_ms]>=(0)))
GO
ALTER TABLE [dbo].[sleep_sessions] CHECK CONSTRAINT [CK_sleep_sessions_duration]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_age] CHECK  (([age] IS NULL OR [age]>=(6) AND [age]<=(120)))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_age]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='ADMIN' OR [role]='DOCTOR' OR [role]='USER'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
USE [master]
GO
